* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Bellefair", serif;
}

h5 {
  font-family: "Barlow Condensed", sans-serif;
}

p,
a {
  font-family: "Barlow Condensed", sans-serif;
}

.flex {
  display: flex;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/home/background-home-mobile.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  height: 12vh;
  margin-bottom: 20px;
}
nav .mobile-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: relative;
  z-index: 100;
}
nav .mobile-nav .menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}
nav .mobile-nav .menu-items-mobile {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(10px);
  height: 100vh;
  width: 70%;
  padding: 30px;
  gap: 60px;
  transition: all 0.2s linear;
}
nav .mobile-nav .menu-items-mobile .close-icon {
  align-self: flex-end;
  cursor: pointer;
}
nav .mobile-nav .menu-items-mobile ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
nav .mobile-nav .menu-items-mobile ul li {
  display: flex;
  gap: 20px;
  opacity: 0.8;
  cursor: pointer;
}
nav .mobile-nav .menu-items-mobile ul li a {
  display: flex;
  gap: 15px;
}
nav .mobile-nav .menu-items-mobile ul li a span {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-size: 16px;
}
nav .mobile-nav .menu-items-mobile ul li a span:nth-child(odd) {
  font-weight: bold;
}
nav .mobile-nav .menu-items-mobile ul li:hover {
  opacity: 1;
}
nav .tablet-nav {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}
nav .tablet-nav .logo {
  padding: 20px;
}
nav .tablet-nav ul {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.04);
  padding-inline: 20px;
}
nav .tablet-nav ul li {
  height: 100%;
}
nav .tablet-nav ul li a {
  display: grid;
  place-items: center;
  padding-block: 20px;
  height: 100%;
  position: relative;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 14px;
  height: 100%;
}
nav .tablet-nav ul a:hover::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.7;
}
nav .tablet-nav ul a[aria-current=page] {
  content: "";
  border-bottom: 1px solid white;
  border-radius: 1px;
}
nav .desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding-top: 25px;
  padding-left: 40px;
  display: none;
}
nav .desktop-nav a[aria-current=page] {
  content: "";
  border-bottom: 1px solid white;
  border-radius: 1px;
}
nav .desktop-nav ul {
  display: flex;
  height: 100%;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.04);
  gap: 40px;
  position: relative;
}
nav .desktop-nav ul .line-through {
  position: absolute;
  width: 45%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.397);
  top: 50%;
  left: 0;
  transform: translate(-90%, -50%);
}
nav .desktop-nav ul li {
  height: 100%;
}
nav .desktop-nav ul li a {
  display: flex;
  padding-block: 20px;
  align-items: center;
  height: 100%;
  position: relative;
  gap: 10px;
}
nav .desktop-nav ul li a span {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-size: 14px;
}
nav .desktop-nav ul li a span:nth-child(odd) {
  font-weight: bold;
}
nav .desktop-nav ul a:hover::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  opacity: 0.7;
}

main {
  width: 100%;
  height: 80vh;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
main .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px;
}
main .hero-text h5,
main .hero-text h1,
main .hero-text p {
  color: rgb(208, 214, 249);
  text-transform: uppercase;
  text-align: center;
}
main .hero-text p {
  line-height: 25px;
  font-size: 15px;
  text-transform: unset;
}
main .hero-text h1 {
  font-size: 80px;
  color: white;
}
main .hero-text h5 {
  font-size: 16px;
  letter-spacing: 2.7px;
}
main .hero-cta {
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: grid;
  place-items: center;
  color: rgb(11, 13, 23);
  cursor: pointer;
  transition: all 0.2s ease;
}
main .hero-cta:hover {
  outline: 50px solid rgba(255, 255, 255, 0.6);
}
@media (min-width: 600px) {
  main .hero-text h5 {
    font-size: 20px;
    letter-spacing: 3.38px;
  }
  main .hero-text h1 {
    line-height: 150px;
  }
  main .hero-text p {
    font-size: 16px;
    line-height: 28px;
  }
  main .hero-cta {
    width: 185px;
    height: 185px;
  }
}
@media (min-width: 1000px) {
  main {
    flex-direction: row;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
  }
  main .hero-text {
    align-items: flex-start;
    align-self: flex-end;
  }
  main .hero-text h5 {
    font-size: 28px;
    letter-spacing: 4.72px;
  }
  main .hero-text p {
    font-size: 18px;
    line-height: 32px;
    text-align: start;
  }
  main .hero-cta {
    font-size: 32px;
    width: 260px;
    height: 260px;
    letter-spacing: 2px;
    align-self: flex-end;
  }
}

.destination-body {
  background-image: url("../../assets/destination/background-destination-mobile.jpg");
  background-size: cover;
  height: unset;
}
.destination-body hr {
  width: 100%;
  height: 0.5px;
  background-color: rgb(208, 214, 249);
  margin-block: 30px;
  opacity: 0.2;
}
.destination-body .destination {
  margin: 0 auto;
  padding-top: 20px;
  height: unset;
  width: 100%;
}
.destination-body .destination .first {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.destination-body .destination .heading {
  display: flex;
  gap: 15px;
}
.destination-body .destination .heading span {
  font-size: 16px;
  letter-spacing: 2.7px;
  color: rgba(255, 255, 255, 0.25);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
.destination-body .destination .heading p {
  letter-spacing: 2.7px;
  font-size: 16px;
  color: white;
}
.destination-body .destination .dest-img {
  width: 100%;
}
.destination-body .destination .dest-img img {
  width: 100%;
  animation: rotate 25s infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.destination-body .destination .destination-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.destination-body .destination .destination-nav ul {
  display: flex;
  justify-content: space-between;
  gap: 18px;
  margin-bottom: 20px;
}
.destination-body .destination .destination-nav ul li {
  letter-spacing: 2px;
  font-family: "Bellefair", serif;
  color: rgb(208, 214, 249);
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  cursor: pointer;
}
.destination-body .destination .destination-nav ul li:hover {
  color: #fff;
}
.destination-body .destination .destination-nav ul li:hover::before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 3px;
}
.destination-body .destination .destination-nav .dest-heading {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
}
.destination-body .destination .destination-nav .dest-desc {
  width: 100%;
}
.destination-body .destination .destination-nav .dest-desc p {
  font-size: 15px;
  line-height: 25px;
  color: rgb(208, 214, 249);
  text-align: center;
}
.destination-body .destination .destination-nav .dest-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
.destination-body .destination .destination-nav .dest-stats .distance,
.destination-body .destination .destination-nav .dest-stats .time {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.destination-body .destination .destination-nav .dest-stats .distance p,
.destination-body .destination .destination-nav .dest-stats .time p {
  font-family: "Bellefair", serif !important;
}
.destination-body .destination .destination-nav .dest-stats h5 {
  font-size: 14px;
  letter-spacing: 2.36px;
  text-transform: uppercase;
  color: rgb(208, 214, 249);
  font-weight: normal;
}
.destination-body .destination .destination-nav .dest-stats p {
  text-transform: uppercase;
  font-size: 28px;
  color: #fff;
  font-weight: normal;
}
@media (min-width: 600px) {
  .destination-body {
    background-image: url("../../assets/destination/background-destination-tablet.jpg");
  }
  .destination-body .destination .heading {
    align-self: start;
  }
  .destination-body .destination .dest-img {
    width: 400px;
  }
  .destination-body .destination .dest-img img {
    width: 100%;
  }
  .destination-body .destination .destination-nav {
    padding-inline: 40px;
  }
  .destination-body .destination .destination-nav .dest-stats {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1000px) {
  .destination-body {
    background-image: url("../../assets/destination/background-destination-desktop.jpg");
  }
  .destination-body .destination {
    max-width: 1100px;
  }
  .destination-body .destination hr {
    opacity: 0.2;
  }
  .destination-body .destination .destination-nav {
    align-items: flex-start;
  }
  .destination-body .destination .destination-nav .dest-stats .time,
  .destination-body .destination .destination-nav .dest-stats .distance {
    align-items: flex-start;
    text-align: start;
  }
  .destination-body .destination .destination-nav .dest-desc p {
    text-align: start;
  }
  .destination-body .destination .first {
    gap: 25px;
  }
  .destination-body .destination .dest-img img {
    width: 400px;
  }
  .destination-body .destination .heading span,
  .destination-body .destination .heading p {
    font-size: 25px;
    letter-spacing: 4.7px;
  }
}

.crew-body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.crew-body .crew-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
}
.crew-body .crew-main .heading {
  display: flex;
  gap: 15px;
}
.crew-body .crew-main .heading span {
  font-size: 16px;
  letter-spacing: 2.7px;
  color: rgba(255, 255, 255, 0.25);
  font-family: "Barlow Condensed", sans-serif;
  font-weight: bold;
}
.crew-body .crew-main .heading p {
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-size: 16px;
  color: white;
}
.crew-body .crew-main .crew-desc {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.crew-body .crew-main .crew-desc .text-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.crew-body .crew-main .crew-data {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.crew-body .crew-main .crew-data .crew-img {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.crew-body .crew-main .crew-data .crew-img img {
  height: 100%;
}
.crew-body .crew-main .crew-data hr {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0.2;
  background-color: rgba(255, 255, 255, 0.25);
}
.crew-body .crew-main .crew-data .controls {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}
.crew-body .crew-main .crew-data .controls span {
  width: 10px;
  height: 10px;
  background-color: white;
  opacity: 0.3;
  border-radius: 50%;
  cursor: pointer;
}
.crew-body .crew-main .crew-data .controls span:hover {
  opacity: 1;
}
.crew-body .crew-main .crew-data .crew-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
.crew-body .crew-main .crew-data .crew-head h5,
.crew-body .crew-main .crew-data .crew-head h4 {
  text-transform: uppercase;
}
.crew-body .crew-main .crew-data .crew-head h5 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.4);
  font-family: "Bellefair", serif;
}
.crew-body .crew-main .crew-data .crew-head h4 {
  font-size: 24px;
  color: #fff;
}
.crew-body .crew-main .crew-data .crew-bio {
  width: 100%;
}
.crew-body .crew-main .crew-data .crew-bio p {
  color: rgb(208, 214, 249);
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
}
@media (min-width: 600px) {
  .crew-body {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
  .crew-body .crew-main .crew-desc {
    flex-direction: column-reverse !important;
  }
  .crew-body .crew-main .heading {
    align-self: flex-start;
  }
  .crew-body .crew-main .crew-data {
    flex-direction: column-reverse !important;
  }
  .crew-body .crew-main .crew-data .crew-img {
    height: 400px;
  }
}
@media (min-width: 1000px) {
  .crew-body {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
  .crew-body .crew-main .heading p,
  .crew-body .crew-main .heading span {
    font-size: 28px;
  }
  .crew-body .crew-main .crew-data {
    flex-direction: row-reverse !important;
    gap: 40px;
    align-items: flex-start;
  }
  .crew-body .crew-main .crew-data .crew-desc {
    max-width: 60%;
    align-items: flex-start;
    justify-content: space-evenly;
    min-height: 60vh;
    max-height: 61vh;
  }
  .crew-body .crew-main .crew-data .crew-desc .controls {
    justify-content: flex-start;
    margin-top: 50px;
  }
  .crew-body .crew-main .crew-data .crew-desc .crew-head {
    align-items: flex-start;
  }
  .crew-body .crew-main .crew-data .crew-desc .crew-head h4 {
    font-size: 50px;
  }
  .crew-body .crew-main .crew-data .crew-desc .crew-head h5 {
    font-size: 28px;
  }
  .crew-body .crew-main .crew-data .crew-desc .crew-bio P {
    text-align: start;
    font-size: 18px;
    max-width: 500px;
  }
  .crew-body .crew-main .crew-data .crew-img {
    width: 50%;
    height: unset;
    overflow: hidden;
  }
  .crew-body .crew-main .crew-data .crew-img img {
    width: 80%;
    height: unset;
  }
}

.clicked {
  opacity: 1 !important;
}

.translate {
  transform: translateX(100%);
}

.active {
  position: relative;
  color: white !important;
}

.active::before {
  content: "";
  position: absolute;
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 3px;
}

@media (min-width: 600px) {
  body {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
  nav .mobile-nav {
    display: none;
  }
  nav .desktop-nav {
    display: none;
  }
  nav .tablet-nav {
    display: flex;
  }
}
@media (min-width: 1000px) {
  body {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
  nav .tablet-nav {
    display: none;
  }
  nav .desktop-nav {
    display: flex;
  }
}/*# sourceMappingURL=style.css.map */